
<div class="container">
<h1>Listings</h1>


<div id='card'>
<%= link_to "New Listing", new_listing_path%>
</div>
<%= turbo_stream_from "listings", id: "listings" %>


  <% @listings.each do |listing| %>
  <div class="row ">


    <%= render listing %>


      <%= link_to "Show this listing", listing %>
  
  
    </div>

  <% end %>
</div>
