
<h1>Listings</h1>


<div id='card'>
<%= render 'form', listing: Listing.new %>
</div>
<%= turbo_stream_from "listings", id: "listings" %>


  <% @listings.each do |listing| %>
    <%= render listing %>
    <p>
      <%= link_to "Show this listing", listing %>
    </p>
  

  <% end %>
