
<h1>Listings by <%= @user.email %></h1>
<% @listings.each do |listing|  %>
 <div class="card w-70 mt-3">

          <div class="row">
            <div class="col-12">
              <h5 class="card-title card-headline">
                <%= link_to "#{listing.title.truncate(70)}", listing %>
    </div>
          </div>

	<div class="row">
            <div class="col-12">
              <p class="card-text"><%= listing.description %>
              	          </div>
          </div>




	</div>

<% end %>
