

<div class="card w-70 mt-5">

          <div class="row">
            <div class="col-12">


<h2 class="text-center"><%= @user.email %></h2>

<p>Joined: <%= @user.created_at %></p>


<p><%= @user.bio %></p>

</div>
</div>
<div class="row">
            <div class="col-12">
<p>Note: This section still needs some work, please be patient</p>

</div>
</div>
</div>
